// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
    // colors
    --main-background: hsl(233, 47%, 7%);
    --card-background: hsl(244, 38%, 16%);
    --color-accent: hsl(277, 64%, 61%);

    --main-heading-stats: hsl(0, 0%, 100%);
    --main-description: hsla(0, 0%, 100%, 0.75);
    --stats-heading: hsla(0, 0%, 100%, 0.6);

    //font and typography

    --body-font: "Inter", sans-serif;
    --body-font2: "Lexend Deca", sans-serif;

    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;

    @media screen and (min-width: 768px) {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
    }

    //font weight

    --font-normal: 400;
    --font-bold: 700;

    //Margenes
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}
/* /BASE / */

*,
::before,
::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--main-background);
    color: var(--main-heading-stats);
    line-height: 1.6;
}
h1,
h2,
article,
p {
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
.grid {
    display: grid;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 3rem;

    &__container {
        background-color: var(--card-background);
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    &__picture {
        background-color: var(--color-accent);
        margin-bottom: var(--mb-3);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    &__img {
        object-fit: cover;
        mix-blend-mode: multiply;
    }

    &__data {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0 2rem;
        width: 100%;
        max-width: 350px;
        &-title {
            font-family: var(--body-font);
            font-size: var(--h2-font-size);
            font-weight: var(--font-bold);
            margin-bottom: var(--mb-3);
            &--color {
                color: var(--color-accent);
            }
        }
        &-description {
            color: var(--main-description);
            font-size: var(--small-font-size);
            margin-bottom: var(--mb-3);
        }
    }
    &__col-numbers {
        margin-bottom: var(--mb-2);
        &--text {
            color: var(--main-description);
        }
    }
}
